@keyframes blinker {
    from,
    49.9% {
        opacity: 0;
    }
    50%,
    to {
        opacity: 1;
    }
}

.rjs-text-field {
    display: grid;
    grid-template-columns: auto 110px;
    grid-column-gap: 5px;
    justify-content: center;
    outline: none;
    user-select: none;

    .rjs-input-container {
        width: 160px;
        cursor: text;
        display: flex;
        align-items: flex-end;
        height: 13px;

        .rjs-caret {
            animation: blinker 0.85s linear infinite;
        }

        .rjs-input {
        }
    }
}
